{% from "macros.html" import load_scripts %}
<!DOCTYPE html>
<html lang="en">
<head>
    {{ load_scripts() }}
    <link rel="stylesheet" href="/static/css/logincss.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function google_login(){
            window.location.href = "/google_login"
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
      <h2 style="text-align:center">Login with Google Account</h2>
        </div>
        </div>
    <div class="row">
      <div class="col">
        <a href="#" class="google btn" onclick="google_login()">
          <i class="fa fa-google fa-fw"></i> Login with Google+
        </a>
      </div>
    </div>
</div>
</body>
</html>